.slide-show {
    margin: 0px;
    padding: 0px;

    .categories-list-slide-show {
        border: 1px solid #e9ecef;
        margin-right: 11.6px;
        margin-left: -14.7px;
        border-top: none;
        list-style-type: none;
        padding-bottom: 20px;
        padding-left: 35px;
        height: 440px;

        li {
            padding: 13px 10px 13px 0px;

            a {
                width: 100%;
                font-family: 'Roboto', sans-serif;
                color: #000;
                font-size: 16px;
                line-height: 15px;
            }

            a:hover {
                color: green;
            }
        }
    }
}
