@import 'variables';

.categories-list-slide-show {
    display: none;
    z-index: 10000;
    position: absolute;
    top: -38px;
    background-color: white;
    width: 91%;
}

.slide-show {
    display: none;
    background: none;
}

.product {
    .description-product {
        color: #737373;
        font-weight: bold;
        .product-title {
            font-weight: bold;
            h1 {
                font-size: 23px;
                color: black;
                text-transform: uppercase;
                line-height: 35px;
                font-weight: bold;
            }
        }

        .product-price {
            font-size: 23px;
            color: $green;
        }

        .product-quantity {
            .quantity {
                width: 50px;
                border-radius: 5px;
                background-color: #D8D8D8;
                border: none;
                padding: 5px;
                color: inherit
            }
        }

        .product-description {
            font-weight: normal;
            font-size: 14px;
            padding-bottom: 10px;
            border-bottom: 1px solid $color-border-base;
        }

        .add-to-cart:hover {
            cursor: pointer;
        }
    }
}

.product-detail {
    #nav-product-detail {
        border: 1px solid $color-border-base;
        border-top: none;
        padding: 10px 20px;
    }

    #nav-home-tab {
        border-radius: 0px;
        border-bottom: 1px solid $color-border-base;
        font-size: 18px;
        color: $color-hover-base;
    }

    #nav-home-tab:hover {
        cursor: pointer;
    }
}
//slideshow
.slide-show-image {
    margin-left: -20px;
    padding: 0px;
    margin: 0px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border:0px solid black;
}
.owl-prev {
    left: 10px;
}
.owl-next {
    right: 10px;
}
.owl-prev i, .owl-next i {
    transform: scale(2,2);
    color: black;
    opacity: 0.5;
}

.owl-carousel {
    .item {
        padding: 6px;
        img {
            border: 1px solid $color-border-base;
        }
    }
    .item:hover img{
        cursor: pointer;
    }
}
